* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search {
    background-color: #EEEEEE;
    display: block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#arama {
    padding: 1px 2px 1px 2px;
}

button {
    padding: 1px 6px 1px 6px;
}

.links {
    display: flex;
}

.sol {
    width: 37%;
    background-color: rgb(126, 229, 218);
    display: block;
    text-align: center;
    margin-left: 5%;
    margin-top: 2px;
    margin-right: 2px;
    padding-top: 10px;
}

.orta {
    background-color: rgb(112, 204, 194);
    width: 20%;
    display: block;
    text-align: center;
    margin-top: 2px;
    margin-right: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: small;
}

.sag {
    background-color: rgb(98, 179, 170);
    width: 43%;
    margin-right: 5%;
    margin-top: 2px;
    margin-bottom: 1px;
    display: block;
    text-align: center;
    padding-top: 2px;
    font-size: small;
}

footer {
    display: block;
    text-align: center;
    font-size: small;
    margin-top: 15px;
}